*.fff
*.zip
*.png
*.jpg
*.jpeg
*.pdf
*.ttt
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.sublime*
!*/**/images/*.pdf
!*/**/images/*.png
!*/**/images/*.jpg
!*/**/images/*.jpeg
!*/**/img/*.pdf
!*/**/img/*.png
!*/**/img/*.jpg
!*/**/img/*.jpeg
!*/**/receipts/*
software/
*.run.xml
